/*case_list*/
.case_list_wrap{
    padding-bottom: 0.5rem;
}
.case_list_wrap li {
    background: #ffffff;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
.case_list_wrap li .flex-container{
    align-items: flex-start;
}

.case_img {
    width: 5rem;
    height: 4rem;
    overflow: hidden;
    outline: 1px solid #468ed1;
}

.case_img img {
    width: 100%;
    height: 100%;
}

.case_info {
    width: 68%;
}

.case_tit {
    color: #343434;
    margin-bottom: 0.2rem;
    text-align: justify;
    font-size: 0.7rem;
}

.case_info_text {
    font-size: 0.6rem;
    line-height: 0.8rem;
    height: 2.4rem;
    text-align: justify;
    color: #757575;
}

.case_list_wrap .show_detail {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5rem;
    color: #ffffff;
    padding: 0.2rem 0.7rem;
    background: #468ed1;
    border-radius: 0.3rem;
}
/*strategy_list*/
.strategy_list_wrap li {
    padding: 0.5rem;
    background: #ffffff;
    border-bottom: 2px solid #d5d5d5;
}
.strategy_img{
    width: 5rem;
    height: 4rem;
    overflow: hidden;
}
.strategy_img img{
    width: 100%;
    height: 100%;
}
.strategy_info{
    width: 69%;
}
.strategy_tit{
    font-size: 0.65rem;
    text-align: justify;
}
.strategy_info_text{
    text-align: justify;
    font-size: 0.5rem;
    color: #777777;
}
.creatTime{
    font-size: 0.45rem;
    color: #afafaf;
}
/*paperWork_list.html*/
.pw_list_wrap li {
    padding: 0.5rem;
    background: #ffffff;
    margin-bottom: 0.5rem;
}
.pw_img{
    width: 5.5rem;
    height: 5rem;
    overflow: hidden;
}
.pw_img img{
    width: 100%;
    height: 100%;
}
.pw_info{
    width: 67%;
}
.pw_tit{
    font-size: 0.8rem;
    text-align: justify;
    margin-bottom: 0.2rem;
}
.pw_info_text{
    margin-bottom: 0.2rem;
    text-align: justify;
    font-size: 0.5rem;
    color: #686868;
}
.pw_new_price{
    vertical-align: bottom;
    font-size: 0.7rem;
    color: #ff7200;
}
.pw_old_price{
    vertical-align: bottom;
    text-decoration: line-through;
    font-size: 0.5rem;
    color: #999999;
}
.pw_handle{
    display: inline-block;
    vertical-align: middle;
    padding: 0.1rem 0.5rem;
    border-radius: 0.3rem;
    color: #ffffff;
    font-size: 0.6rem;
}
.yc_nav{
    display: none;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 0.8rem 0.5rem 0.5rem;
    background: #468ed1;
}
.yc_row{
    align-items: flex-start;
    margin-bottom: 0.2rem;
}
.yc_l{
    width:16%;
}
.yc_r{
    width: 84%;
}
.yc_r span{
    cursor: pointer;
    padding: 0.1rem 0.2rem;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    margin-bottom: 0.2rem;
}
.yc_r span.on{
    background: rgba(0, 0, 0, 0.51);
}

/*公共分页*/
.pageSize{
    text-align: right;
    padding:0.3rem 0.75rem 0.5rem;
    background: #ffffff;
}
.pageSize li{
    font-size: 0.6rem;
    color: #468ed1;
    background: #ffffff;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    padding: 0 0.3rem;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
    border: 1px dashed #468ed1;
}
.pageSize li:last-child{
    margin-right: 0;
}
.pageSize li.on{
    color: #ffffff;
    background: #468ed1;
}