#index{
    padding-bottom: 0;
}
.ad_text {
    background: url("../images/index_bg.png") no-repeat 0 0;
    background-size: cover;
}

.ad_text {
    text-align: center;
    padding: 1.5rem 0;
}

.idnex2_tit_wrap {
    padding: 0.4rem 0;
}

.index2_more {
    font-size: 0.6rem;
    color: #777777;
}

.section_name {
    color: #01a4e5;
    font-size: 0.9rem;
}

.question_name2 {
    font-size: 0.7rem;
    color: #333333;
    margin-bottom: 0.4rem;
}

.question_info2 {
    color: #777777;
    font-size: 0.6rem;
}

.jg {
    padding: 0 0.5rem;
}

.answer_link {
    color: #777777;
}

.question_list2 {
    padding: 0.2rem 0;
}

.question_list2 li {
    padding: 0.3rem 0;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #cccccc;
}

.question_list2 li:last-child {
    border-bottom: none;
}

.school_list2 {
    padding-bottom: 0.6rem;
}

.school_list2 li {
    width: 48.5%;
    height: 5rem;
    margin: 0.25rem 0;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
    overflow: hidden;
    position: relative;
}

.school_list2 li img {
    width: 100%;
    height: 100%;
}

.school_info {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    text-align: center;
}

.school_info p.sc_p1 {
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

.school_info p.sc_p2 {
    font-size: 0.7rem;
    padding: 0.4rem 0;
}

.school_info p.sc_p3 {
    font-size: 0.7rem;
}

.rank_list2 {
    padding: 0.5rem 0;
}

.rank_list2 li {
    padding: 0.4rem 0.8rem 0.4rem 0.5rem;
    height: 2.2rem;
    width: 100%;
    margin-bottom: 0.3rem;
}

.rank_list2 li:nth-child(1) {
    background: url("../images/index_r1.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.rank_list2 li:nth-child(2) {
    background: url("../images/index_r2.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.rank_list2 li:nth-child(3) {
    background: url("../images/index_r3.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.rank_list2 li:nth-child(4) {
    background: url("../images/index_r4.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.rank_school_name {
    color: #ffffff;
    font-size: 0.9rem;
}

.str_img {
    width: 5rem;
    height: 3.5rem;
}

.str_img img {
    width: 100%;
    height: 100%;
}

.str_tit {
    color: #333333;
    height: 2rem;
    line-height: 1rem;
    font-size: 0.75rem;
    text-align: justify;
    margin-bottom: 0.3rem;
}

.str_tim {
    color: #777777;
    font-size: 0.7rem;
}

.str_text {
    width: 70%;
}

.str_tit_wrap {
    align-items: flex-start;
}

.str_list li {
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.str_list li:last-child {
    border-bottom: none;
}

/*采集信息*/
.bt_info {
    padding: 0.5rem;
}

.user_data {
    border: 0.5rem solid #00a0e9;
}

.ud_text {
    padding-top: 0.5rem;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #015892;
}

.form_name {
    color: #2e2e2e;
    display: inline-block;
    vertical-align: middle;
    width: 37%;
    font-size: 0.8rem;
    text-align: right;
    margin-right: 0.5rem;
}

.form_wrap .row {
    margin-bottom: 0.5rem;
}

.form_ud input.form_int {
    border: 1px solid #959595;
    outline: none;
    display: inline-block;
    padding: 0 0.1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 50%;
    height: 1rem;
    vertical-align: middle;
}

.form_ud {
    padding-top: 0.5rem;
}

.form_btn_wrap {
    padding: 1rem 0;
}

.form_btn {
    background: #015892;
    font-size: 0.7rem;
    color: #fff;
    width: 6.6rem;
    height: 1.4rem;
    line-height: 1.4rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
}

.hot_list2 {
    padding-top: 0.5rem;
}

.hot_list2 li {
    width: 49%;
    margin-bottom: 0.5rem;
}

.mj_img {
    width: 4rem;
}

.hot_name {
    width: 4.5rem;
}

.mj_t1 {
    color: #01a4e5;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
    padding-left: 0.5rem;
}

.mj_t2 {
    color: #c96c24;
    font-size: 0.6rem;
    padding-left: 0.5rem;
    background: url("../images/hot_icon.png") no-repeat 0 center;
    background-size: 0.5rem;
}
.other_link{
    background: #ffffff;
    padding: 0.5rem 0;
}
.other_link a{
    color: #2cb1e5;
    display: block;
    font-size: 0.6rem;
    padding: 0.2rem 0;
    width: 3.5rem;
    text-align: center;
    margin: 0 0.5rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    border: 1px solid #2cb1e5;
}
.other_link a.on{
    color: #ffffff;
    background: #2cb1e5;
}
.sc_n{
    padding-top: 1.5rem;
    width: 84.5%;
    margin: auto;
}
.sc_n img{
    width: 4.3rem;
}