#index,#intermediary{
    background: #eeeeee;
}
#intermediary .bk_tit{
    border: none;
}
.baner-page {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
}

.question_list {
    padding-top: 0.4rem;
}

.question_list li {
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    background: #eeeeee;
}

.question_name {
    font-size: 0.6rem;
    color: #242424;
    margin-bottom: 0.4rem;
}

.question_info {
    color: #7c7c7c;
    font-size: 0.5rem;
}

.question_info span:nth-child(1) {
    padding-right: 1rem;
}

.question_btn {
    width: 2.8rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 4px;
    font-size: 0.6rem;
    background: #468ed1;
    color: #ffffff;
}

.question_text_wrap {
    width: 12.5rem;
}

.question_btn2 {
    color: #ffffff;
    width: 6.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    border-radius: 4px;
    font-size: 0.6rem;
    background: #ffa800;
}

.question_btn2_wrap {
    padding: 0.3rem 0 0.6rem;
}

.s1_wrap {
    height: 3.3rem;
    margin-bottom: 0.4rem;
}

.service_1 {
    width: 65%;
    line-height: 3.3rem;
}

.service_2 {
    width: 33%;
    line-height: 3.3rem;
    height: 3.3rem;
}

.service_name {
    color: #ffffff;
    font-size: 0.7rem;
    line-height: 1rem;
}

.service_wrap {
    padding: 0.6rem 0.5rem;
    font-size: 0.7rem;
}

.s2_wrap {
    height: 8.2rem;
}

.service_3 {
    width: 35%;
    height: 8.2rem;
}

.service_4 {
    width: 63%;
}

.s4_top {
    width: 48.5%;
    height: 3.9rem;
    line-height: 3.9rem;
}

.s4_bottom {
    height: 3.9rem;
    line-height: 3.9rem;
}

.tab_check_wrap {
    margin-top: 0.3rem;
    border: 1px solid #aecbe6;
    background: #f4f4f4;
    font-size: 0.65rem;
    height: 1.2rem;
    padding-left: 0.3rem;
}

.tab_check_wrap span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.15rem;
    margin-right: 1rem;
    border-bottom: 2px solid transparent;
}

.tab_check_wrap span:last-child {
    margin-right: 0;
}

.tab_check_wrap span.on {
    color: #468ed1;
    border-color: #468ed1;
}

.sc_list {
    padding: 0.8rem 0 0.4rem;
}

.sc_list li {
    width: 33.3%;
    float: left;
    margin-bottom: 0.4rem;
    text-align: center;
}

.school_item:first-child {
    display: block;
}

.school_item {
    display: none;
}

.school_item .sc_img {
    width: 3.75rem;
    height: 2.75rem;
    overflow: hidden;
    margin: 0 auto 0.3rem;
}

.school_item .sc_img img {
    width: 100%;
    height: 100%;
}

.school_item .sc_name {
    font-size: 0.7rem;
    color: #4f4f4f;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.school_item .views_count {
    font-size: 0.5rem;
    padding: 0.2rem 0;
}

.school_item .more {
    display: inline-block;
    vertical-align: middle;
    width: 2.1rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.5rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #eceded;
    color: #797979;
}

.school_item .bm_wrap {
    padding-bottom: 0.5rem;
}

.school_item .bm_wrap .big_more {
    background: #4f94d3;
    display: inline-block;
    vertical-align: middle;
    width: 7.25rem;
    height: 1.1rem;
    line-height: 1.1rem;
    font-size: 0.7rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.sc_ranks {
    padding: 0.7rem 0;
}

.sc_adImg {
    width: 7rem;
    height: 4.75rem;
    overflow: hidden;
}

.sc_adImg img {
    width: 100%;
    height: 100%;
}

.scRank-list {
    width: 9.5rem;
}

.scRank-list li {
    height: 1rem;
    line-height: 1rem;
}

.scRank-list li i.point {
    color: #98bc36;
    font-size: 0.2rem;
    margin-right: 0.2rem;
    vertical-align: middle;
}

.scRank-list li a {
    font-size: 0.55rem;
    color: #545454;
    display: inline-block;
    /*vertical-align: bottom;*/
    max-width: 8.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sc_rank_more {
    line-height: 0.6rem;
}

.sc_rank_more a {
    text-decoration: underline;
    color: #545454;
    font-size: 0.5rem;
}

.user_data {
    padding: 0.75rem 0.5rem;
    background: #ffc400;
}

.ud_text {
    padding-top: 0.5rem;
    font-size: 0.7rem;
    line-height: 1rem;
    color: #015892;
}

.form_ud div.row {
    float: left;
    width: 50%;
    margin: 0.2rem 0;
    overflow: hidden;
}

.form_ud input.form_int {
    border: none;
    outline: none;
    float: left;
    display: inline-block;
    background: #ffc400;
    padding: 0 0.1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 3.5rem;
    height: 0.75rem;
    vertical-align: middle;
}

.form_ud span.form_name {
    float: left;
    height: 0.75rem;
    line-height: 0.75rem;
    padding-left: 0.4rem;
    font-size: 0.5rem;
    color: #2e2e2e;
    width: 4rem;
    text-align: left;
}

.form_ud i.light {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    padding-right: 0.1rem;
    height: 0.75rem;
    font-size: 0.7rem;
    line-height: 0.9rem;
}

.form_btn {
    background: #015892;
    font-size: 0.7rem;
    color: #fff;
    width: 6.6rem;
    height: 1.4rem;
    line-height: 1.4rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
}

.form_btn_wrap {
    padding: 0.6rem 0 0.5rem;
}