.list_tab {
    color: #777777;
    padding: 0.1rem 0.5rem 0;
    font-size: 0.7rem;
    border-bottom: 1px solid #ebe9e9;
}

.list_tab span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    padding: 0.6rem 0.1rem;
    border-bottom: 2px solid transparent;
}

.list_tab span.on {
    color: #01a4e5;
    border-color: #01a4e5;
}

.major_de {
    color: #777777;
    text-align: justify;
    line-height: 0.9rem;
    font-size: 0.65rem;
    padding: 0.2rem 0;
}

.relevant_school {
    font-size: 0.7rem;
}

.relevant_school a {
    color: #777777;
    padding-right: 0.4rem;
}
.relevant_school .sc_name{
    color: #777777;
    max-width: 74%;
}

.color_b2 {
    color: #00a0e9;
}

.ch_name {
    font-size: 0.8rem;
}

.en_name {
    padding-left: 0.3rem;
    max-width: 9.5rem;
    font-size: 0.6rem;
    color: #777777;
}

.relevant_name {
    vertical-align: middle;
    padding-left: 0.85rem;
    background: url("../images/mj_icon.png") no-repeat 0 center;
    background-size: 0.65rem;
}

.major_list li {
    background: #ffffff;
    padding: 0.5rem;
    margin-bottom: 0.4rem;
}
