.tw_tit_name {
    color: #141414;
    font-size: 0.8rem;
    padding-top: 0.4rem;
    vertical-align: middle;
    margin-bottom: 0.4rem;
}

.tw_index textarea {
    outline: none;
    width: 100%;
    resize: none;
    font-size: 0.7rem;
    border: none;
}

#question_tit {
    height: 2.4rem;
}

#question_de {
    height: 7rem;
}

.tag_sel {
    padding: 0.3rem 0 0.5rem;
}

.tag_sel li {
    color: #555555;
    width: 4.3rem;
    line-height: 1.1rem;
    height: 1.1rem;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 0.5rem;
    border: 1px solid #45bae8;
    border-radius: 0.2rem;
    margin-right: 1.7rem;
}

.tag_sel li:nth-child(3n) {
    margin-right: 0;
}

.tag_sel li.on {
    background: #2cb1e5;
    color: #FFFFFF;
}

.sel_teacher {
    color: #2cb1e5;
    font-size: 0.7rem;
    height: 1.1rem;
    line-height: 1.1rem;
    padding: 0 0.4rem;
    border: 1px solid #2cb1e5;
    border-radius: 0.2rem;
}

.sel_teacher i {
    font-style: normal;
}

.teacher_name {
    color: #2cb1e5;
    line-height: 1.3rem;
    padding-right: 0.4rem;
    font-size: 0.8rem;
}

.sel_wrap {
    padding-bottom: 0.7rem;
    overflow: hidden;
}

.tw_index .save {
    width: 80%;
    margin-top: 1.3rem;
    margin-bottom: 1rem;
}

/*邀请回答*/
.invitation_model {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    background: #FFFFFF;
    transition: all 0.2s ease-out;
}

.inviter_img {
    width: 2.7rem;
    height: 2.7rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.inviter_img img {
    width: 100%;
    height: 100%;
}

.check_container span {
    position: relative;
}

.check_container .inputCheck {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    visibility: hidden;
}

.check_container .inputCheck + label {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../images/checkbox1.png) no-repeat center center;
    background-size: 1.2rem;
}

.check_container .inputCheck:checked + label {
    background: url(../images/checkbox.png) no-repeat center;
    background-size: 1.2rem;
}

.inviter_name {
    color: #333333;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.answer_num {
    color: #777777;
    font-size: 0.8rem;
}

.answer_num b {
    color: #2cb1e5;
}

.invit_list li {
    padding: 0.5rem 0;
    width: 100%;
    border-bottom: 1px solid #c9c9c9;
}

.invit_left {
    width: 90%;
}

.inviter_info_wrap {
    width: 78%;
}

#tw_index {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    overflow: auto;
    transition: all 0.2s ease-out;
}

.invitation_model.on {
    transform: translateX(-100%);
}

#tw_index.on {
    transform: translateX(-100%);
}

.inviter_name_wrap {
    display: inline;
}