<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/matching.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/assessment.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>选校评估</title>
    <style>
        .accordion {
            width: 100%;
            display: none;
            background: #FFF;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
        }

        .accordion .link {
            cursor: pointer;
            display: block;
            padding: 15px 15px 15px 5%;
            color: #4D4D4D;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 1px solid #CCC;
            position: relative;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .accordion li:last-child .link {
            border-bottom: 0;
        }

        .accordion li i {
            position: absolute;
            top: 16px;
            left: 12px;
            font-size: 18px;
            color: #595959;
            -webkit-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        .accordion li i.icon-angle-down {
            right: 12px;
            left: auto;
            font-size: 16px;
        }

        .accordion li.open .link {
            color: #b63b4d;
        }

        .accordion li.open i {
            color: #b63b4d;
        }

        .accordion li.open i.icon-angle-down {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        /**
         * Submenu
         -----------------------------*/
        .submenu {
            display: none;
            background: #444359;
            font-size: 14px;
        }

        .submenu li {
            border-bottom: 1px solid #4b4a5e;
        }

        .submenu a {
            display: block;
            text-decoration: none;
            color: #d9d9d9;
            padding: 12px;
            padding-left: 42px;
            -webkit-transition: all 0.25s ease;
            -o-transition: all 0.25s ease;
            transition: all 0.25s ease;
        }

        .submenu a:hover {
            background: #b63b4d;
            color: #FFF;
        }
    </style>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <a href="javascript:history.go(-1);"><i class="icon-angle-left nav_icon color_f"></i></a>
        <span class="color_f header_name">选校评估</span>
        <span class="search_icon"><img src="images/icon_search.png" style="height: 0.9rem;" alt=""></span>
    </div>
</section>
<!--选校步骤-->
<section>
    <div class="as_bg">
        <div class="tm as_hit"><img src="images/as_hint.png" style="height: 2.5rem;" alt=""></div>
        <div class="step_list flex-container-center">
            <div class="step_wrap on">
                <div class="step_line flex-container-center">
                    <div class="step_num_wrap"><span class="step_num_text on">1</span></div>
                    <span class="step_on_line"></span>
                </div>
                <p class="step_name">个人成绩</p>
            </div>
            <div class="step_wrap">
                <div class="step_line flex-container-center">
                    <div class="step_num_wrap"><span class="step_num_text on">2</span></div>
                    <span class="step_on_line"></span>
                </div>
                <p class="step_name">学校背景</p>
            </div>
            <div class="step_wrap">
                <div class="step_line flex-container-center">
                    <div class="step_num_wrap"><span class="step_num_text on">3</span></div>
                    <span class="step_on_line"></span>
                </div>
                <p class="step_name">个人软背景</p>
            </div>
            <div class="step_wrap">
                <div class="step_line flex-container">
                    <div class="step_num_wrap"><span class="step_num_text on">4</span></div>
                </div>
                <p class="step_name">申请方向背景</p>
            </div>
        </div>
    </div>
    <div class="all_step">
        <!--step1-->
        <div class="step_wrap2 step1_wrap bg_f pd_lr5">
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b"><i class="must light">*</i>GPA:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" id="gpa" placeholder="2.0-5.0" type="text">
                </div>

            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">GMAT:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" id="gmat" placeholder="400~800" type="text">
                </div>

            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">GRE:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" id="gre" placeholder="200~340" type="text">
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">TOEFL:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" id="toefl" placeholder="60~120" type="text">
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">IELTS:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" id="ielts" placeholder="5.0~9.0" type="text">
                </div>
            </div>
            <div class="next_step_btn tm"><span class="st_next next_1" data-index="1">下一步</span></div>
        </div>
        <!--step2-->
        <div class="step_wrap2 bg_f pd_lr5" style="padding-top: 0.7rem;">
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">目前学历:</span>
                </div>
                <div class="step_int_wrap">
                    <select class="step_select" name="" id="s1">
                        <option value="0">未选择</option>
                        <option value="1">博士</option>
                        <option value="2">硕士</option>
                        <option value="3">本科</option>
                        <option value="4">专科</option>
                        <option value="5">高中</option>
                        <option value="6">初中</option>
                    </select>
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b"><i class="light must">*</i>就读/毕业院校:</span>
                </div>
                <div class="step_int_wrap">
                    <select class="step_select" name="" id="s2">
                        <option value="1">清北复交浙大</option>
                        <option value="2">985</option>
                        <option value="3">211</option>
                        <option value="4">非211本科</option>
                        <option value="5">专科</option>
                    </select>
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b"><i class="light must">*</i>详细填写学校名称:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" id="jd_school" type="text">
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b"><i class="light must">*</i>专业:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" data-id="" data-pid="" id="major_name" type="text">
                    <ul id="accordion" class="accordion">
                        <li ng-repeat="majorA in major">
                            <div class="link">{{majorA.name}} <i class="icon-angle-down"></i></div>
                            <ul class="submenu">
                                <li ng-repeat="majorB in majorA.child">
                                    <a class="major_name" href="javascript:;" data-id="{{majorB.id}}" data-pid="{{majorB.pid}}" >{{majorB.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="next_step_btn tm flex-container" style="padding: 2rem 0">
                <span class="st_next pre_st" data-index="0">上一步</span>
                <span class="st_next next_2" data-index="2">下一步</span>
            </div>
        </div>
        <!--step3-->
        <div class="step_wrap2 pd_lr5" style="background: #f3f3f3;padding-top: 0.7rem;">
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">实习/工作经验:</span>
                    <select class="work_ex" name="" id="s3">
                        <option value="1">国内四大</option>
                        <option value="2">500强</option>
                        <option value="3">外企</option>
                        <option value="4">国企</option>
                        <option value="5">私企</option>
                    </select>
                </div>
                <div class="step_int_wrap">
                    <textarea id="work_exp" class="step_text_int2" placeholder="请如实填写跟申请方向相关的工作经验，若没有完整工作经验，请填写相关实 习经验，每项描述不低于三十字........."></textarea>
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">项目经验:</span>
                </div>
                <div class="step_int_wrap">
                    <textarea id="project_exp" class="step_text_int2" placeholder="请如实填写跟申请方向相关的项目经验，如比赛经历，商业项目，试验项目， 论文发表等。不少于30字若没有可不填。"></textarea>
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">海外留学:</span>
                </div>
                <div class="step_int_wrap">
                    <textarea id="abroad_study" class="step_text_int2" placeholder="请如实填写海外游学经验，如交换项目，海外实践课程等。若没有可不填。"></textarea>
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">公益活动:</span>
                </div>
                <div class="step_int_wrap">
                    <textarea id="gy_active" class="step_text_int2" placeholder="请如实填写所参与公益项目若没有可不填。"></textarea>
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b">获奖经历:</span>
                </div>
                <div class="step_int_wrap">
                    <textarea id="hj_jl" class="step_text_int2" placeholder="请如实填写获奖经理，若没有可不填。"></textarea>
                </div>
            </div>
            <div class="next_step_btn tm flex-container" style="padding: 2rem 0">
                <span class="st_next pre_st" data-index="1">上一步</span>
                <span class="st_next next_3" data-index="3">下一步</span>
            </div>
        </div>
        <!--step4-->
        <div class="step_wrap2 bg_f pd_lr5" style="padding-top: 0.7rem;">
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b"><i class="light must">*</i>留学目的地:</span>
                </div>
                <div class="step_int_wrap">
                    <select class="step_select" name="" id="abroad_state">
                        <option ng-repeat="country in country" value="{{country.id}}">{{country.name}}</option>
                    </select>
                </div>
            </div>
            <div class="step_row">
                <div class="step_text_intra flex-container">
                    <span class="row_name_b"><i class="light must">*</i>专业:</span>
                </div>
                <div class="step_int_wrap">
                    <input class="step_text_int" data-id="" data-pid="" id="major_name2" type="text" placeholder="请填写你要申请的专业">
                    <ul id="accordion2" class="accordion">
                        <li ng-repeat="majorA in major">
                            <div class="link">{{majorA.name}} <i class="icon-angle-down"></i></div>
                            <ul class="submenu">
                                <li ng-repeat="majorB in majorA.child">
                                    <a class="major_name" href="javascript:;" data-id="{{majorB.id}}" data-pid="{{majorB.pid}}" >{{majorB.name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="next_step_btn tm flex-container" style="padding: 2rem 0">
                <span class="st_next pre_st" data-index="2">上一步</span>
                <span class="st_next st_tj">提交</span>
            </div>
        </div>
    </div>

</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="mqqwpa://im/chat?chat_type=wpa&uin=1746295647&version=1&src_type=web&web_src=http://m.haishiit.com/">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>