<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/background_ts.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/background_ts.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>背景提升</title>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <i class="icon-list-ul nav_icon color_f"></i>
        <a href="index.html"><img src="images/logo.png" style="height: 1.4rem;" alt=""></a>
        <a href="tel:4001816180"><img src="images/tel.png" style="height: 1rem;" alt=""></a>
    </div>
    <!--导航栏列表-->
    <div class="nav_wrap">
        <ul class="nav_list_item_1">
            <li class="on">
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_1.png" alt=""></div>
                        <span class="nav_tit_1">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_4.png" alt=""></div>
                        <span class="nav_tit_1">院校数据</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="school.html">院校查询</a></dt>
                    <dt><a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">专业解析</a></dt>
                    <dt><a href="ranking.html">大学排名</a></dt>
                    <dt><a href="know.html">知识库</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_3.png" alt=""></div>
                        <span class="nav_tit_1">选校工具</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <!--<dt><a href="#">背景测评</a></dt>-->
                    <dt><a href="assessment.html">选校测评</a></dt>
                    <!--<dt><a href="matching_test.html">学校录取测评</a></dt>-->
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_7.png" alt=""></div>
                        <span class="nav_tit_1">申请互动</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="question.html">申请问答</a></dt>
                    <dt><a href="connoisseur.html">顾问推荐</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_5.png" alt=""></div>
                        <span class="nav_tit_1">留学攻略</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">机构</a></dt>
                    <dt><a href="strategy.html">资讯</a></dt>
                    <dt><a href="case.html">案例</a></dt>
                    <dt><a href="mall.html">申请</a></dt>
                </dl>
            </li>
            <li>
                <a href="bonus.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_8.png" alt=""></div>
                        <span class="nav_tit_1">留学奖金</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--广告位-->
<section>
    <a href="#"><img src="images/in_ad_2.png" alt=""></a>
</section>
<!--项目优势-->
<section class="mg_b5">
    <div class="bk_tit2 bg_f  flex-container">
        <div>
            <i class="icon_tit"><img src="images/b_icon_1.png" style="height: 0.9rem" alt=""></i>
            <span class="big_tit">雷哥网留学背景提升项目优势</span>
        </div>
    </div>
    <div class="pd_lr75">
        <div class="clearfix ys_twrap tm">
            <div class="fl ys_left bg_b">
                <img src="images/ys_icon_4.png" style="height: 2.1rem;margin: 0.5rem 0 1rem;" alt="">
                <p class="ys_de">背景提升项目<br>机会的国际化</p>
            </div>
            <div class="fl ys_right">
                <div class="clearfix ys_rt">
                    <div class="fl bg_y rt_cr">
                        <img src="images/ys_icon_2.png" style="height: 2.1rem;" alt="">
                        <p class="ys_de">实习证明和<br>推荐信</p>
                    </div>
                    <div class="fr bg_b rt_cr">
                        <img src="images/ys_icon_3.png" style="height: 2.1rem;" alt="">
                        <p class="ys_de">背景提升项目<br>项目多样化</p>
                    </div>
                </div>
                <div class="bg_y ys_rb">
                    <img src="images/ys_icon_4.png" style="height: 2.1rem;" alt="">
                    <p class="ys_de inm" style="line-height: normal;">背景提升项目<br>内容专业性</p>
                </div>
            </div>
        </div>
        <div class="bg_g2 tm ys_5">
            <div>
                <a href="#">
                    <p class="ys_de inm">合理申请费用，包含多项服务<br>更有专业人员全程跟踪</p>
                    <img src="images/ys_icon_5.png" style="height: 2.1rem;" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!--雷哥网留学Summer产品-->
<section class="mg_b5">
    <div class="bk_tit2 bg_y  flex-container">
        <div>
            <i class="icon_tit"><img src="images/b_icon_2.png" style="height: 1rem" alt=""></i>
            <span class="big_tit color_f">雷哥网留学Summer产品</span>
        </div>
    </div>
    <div class="bg_y pd_lr75 clearfix">
        <div class="bg_f clearfix sub1">
            <img src="images/s1.png" style="height: 5rem;" alt="">
            <div class="inm sub1_wrap">
                <p class="sub_tit ellipsis">Summer School(暑期课程)</p>
                <p class="sub_de ellipsis-2">是每年6月下旬至8月底，一般来说夏 校的申请在3月到4月间截止，各大名...</p>
                <div class="tm">
                <a class="sub1_href inm" href="mqqwpa://im/chat?chat_type=wpa&uin=2949709934&version=1&src_type=web&web_src=http://m.haishiit.com/">立即咨询</a>
                </div>
            </div>
        </div>
        <div class="sub1_info_wrap bg_f pd_lr5">
            <p class="sub_tit">参加Summer School(暑期课程)好处</p>
            <ul class="gds_list">
                <li>
                    <span class="gds_num inm">1</span>
                    <p class="sub_info_de inm">弥补GPA成绩不够，找不到好的推荐 人 ，语言成绩不够申请Personal Statment的背景经验不够好</p>
                </li>
                <li>
                    <span class="gds_num inm">2</span>
                    <p class="sub_info_de inm">提高英语能力，提前熟悉英语语言环境</p>
                </li>
                <li>
                    <span class="gds_num inm">3</span>
                    <p class="sub_info_de inm">选修国外名校学分课程，提高申请竞争力</p>
                </li>
                <li>
                    <span class="gds_num inm">4</span>
                    <p class="sub_info_de inm">牵手世界名校，了解西方教育模式</p>
                </li>
                <li>
                    <span class="gds_num inm">5</span>
                    <p class="sub_info_de inm">留下好的签证记录，为将来留学签证打 下基础</p>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--雷哥网背景提升资源-->
<section class="mg_b5">
    <div class="bk_tit2 bg_f  flex-container">
        <div>
            <i class="icon_tit"><img src="images/b_icon_3.png" style="height: 1rem" alt=""></i>
            <span class="big_tit">雷哥网背景提升资源</span>
        </div>
            <select class="zy_select" name="" id="">
                <option ng-repeat="category in category" value="{{$index}}">{{category.name}}</option>
            </select>
    </div>
    <div class="xy_t">
        <div ng-repeat="data in data" class="clearfix xy_wrap pd_lr5">
            <div class="zy_left fl">
                <a href="#">
                    <img class="zy_img" src="{{http}}{{data[0].image}}" alt="">
                    <p class="tm zy_name">{{data[0].name}}</p>
                </a>
            </div>
            <ul class="zy_right fr">
                <li>
                    <a href="#">
                        <img class="zy_img" src="{{http}}{{data[1].image}}" alt="">
                        <p class="tm zy_name">{{data[1].name}}</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="zy_img" src="{{http}}{{data[2].image}}" alt="">
                        <p class="tm zy_name">{{data[2].name}}</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="tm" style="margin-bottom: 0.8rem;">
        <a class="sub1_href inm" href="mqqwpa://im/chat?chat_type=wpa&uin=2949709934&version=1&src_type=web&web_src=http://m.haishiit.com/">项目咨询</a>
    </div>
</section>
<!--备案信息-->
<section class="cr_wrap">
    <div class="tm copyRight">©2017 smartapply.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明</div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
<script>
    $(function(){
        $('.zy_select').change(function(){
            var num=$(this).val();
            $('.xy_wrap').eq(num).slideDown().siblings(".xy_wrap").slideUp();
        })
    })
</script>
</html>