<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/ws_index.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/bk_smart.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>本科留学</title>
</head>
<body class="pd_b0" ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <a href="javascript:history.go(-1);"><i class="icon-angle-left nav_icon color_f"></i></a>
        <span class="color_f header_name">本科留学</span>
        <span style="width: 0.45rem;"></span>
    </div>
</section>
<section class="pd_lr5 bg_f mg_b5">
    <div class="benk_tit_wrap flex-container">
        <span style="width: 2rem;"></span>
        <span class="benkTit">本科资讯</span>
        <a class="benk_more" href="#">MORE</a>
    </div>
    <div id="topNav" class="swiper-container">
        <div class="swiper-wrapper">
            <!--<div class="swiper-slide active" ng-click="showData(tag.id,1,20)"><span>全部</span></div>-->
            <div class="swiper-slide active"><span>美国</span></div>
            <div class="swiper-slide"><span>英国</span></div>
            <div class="swiper-slide"><span>澳洲</span></div>
            <div class="swiper-slide"><span>香港</span></div>
            <div class="swiper-slide"><span>新加坡</span></div>
            <!--<div class="swiper-slide" ng-click="showData(tag.id,1,20)" ng-repeat="tag in tagList" is-over="toggle.now"><span>{{tag.name}}</span></div>-->
        </div>
    </div>
    <div class="benk_wrap_list">
        <ul class="benk_list">
            <li ng-repeat="usa in info.info_m_a">
                <a href="benk_details.html?id={{usa.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_yx"></span>
                        <span>{{usa.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{usa.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="usa in info.info_m_b">
                <a href="benk_details.html?id={{usa.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_fy"></span>
                        <span>{{usa.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{usa.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="usa in info.info_m_c">
                <a href="benk_details.html?id={{usa.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_tj"></span>
                        <span>{{usa.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{usa.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
        </ul>
        <ul class="benk_list">
            <li ng-repeat="usc in info.info_y_a">
                <a href="benk_details.html?id={{usc.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_yx"></span>
                        <span>{{usc.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{usc.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="usc in info.info_y_b">
                <a href="benk_details.html?id={{usc.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_fy"></span>
                        <span>{{usc.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{usc.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="usc in info.info_y_c">
                <a href="benk_details.html?id={{usc.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_tj"></span>
                        <span>{{usc.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{usc.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
        </ul>
        <ul class="benk_list">
            <li ng-repeat="aus in info.info_o_a">
                <a href="benk_details.html?id={{aus.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_yx"></span>
                        <span>{{aus.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{aus.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="aus in info.info_o_b">
                <a href="benk_details.html?id={{aus.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_fy"></span>
                        <span>{{aus.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{aus.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="aus in info.info_o_c">
                <a href="benk_details.html?id={{aus.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_tj"></span>
                        <span>{{aus.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{aus.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
        </ul>
        <ul class="benk_list">
            <li ng-repeat="hk in info.info_xg_a">
                <a href="benk_details.html?id={{hk.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_yx"></span>
                        <span>{{hk.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{hk.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="hk in info.info_xg_b">
                <a href="benk_details.html?id={{hk.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_fy"></span>
                        <span>{{hk.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{hk.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="hk in info.info_xg_c">
                <a href="benk_details.html?id={{hk.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_tj"></span>
                        <span>{{hk.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{hk.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
        </ul>
        <ul class="benk_list">
            <li ng-repeat="sg in info.info_p_a">
                <a href="benk_details.html?id={{sg.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_yx"></span>
                        <span>{{sg.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{sg.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="sg in info.info_p_b">
                <a href="benk_details.html?id={{sg.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_fy"></span>
                        <span>{{sg.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{sg.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
            <li ng-repeat="sg in info.info_p_c">
                <a href="benk_details.html?id={{sg.id}}">
                    <div class="benk_data_name">
                        <span class="inm tag_benk tag_tj"></span>
                        <span>{{sg.name}}</span>
                    </div>
                    <div class="benk_data_time flex-container">
                        <span>{{sg.createTime}}</span>
                        <!--<span>关注:201</span>-->
                    </div>
                </a>
            </li>
        </ul>
    </div>

</section>
<section class="pd_lr5 bg_f mg_b5">
    <div class="benk_tit_wrap flex-container">
        <span></span>
        <span class="benkTit">SAT/CAT</span>
        <span></span>
    </div>
    <ul class="benk_list">
        <li ng-repeat="sat in sat">
            <a href="benk_details.html?id={{sat.id}}">
                <div class="benk_data_name">
                    <img class="bk_fire" src="images/benk_hot.png" alt="">
                    <span>{{sat.name}}</span>
                </div>
                <p class="benk_de ellipsis-2">{{sat.answer}}</p>
                <div class="benk_data_time flex-container">
                    <span>{{sat.article}}</span>
                    <!--<span>关注:201</span>-->
                </div>
            </a>
        </li>
    </ul>
</section>
<section class="pd_lr5 bg_f" style="margin-bottom: 0.3rem;">
    <div class="benk_tit_wrap flex-container">
        <span></span>
        <span class="benkTit">活动规划</span>
        <span></span>
    </div>
    <div class="list_check tm">
        <span class="on">特长扩展</span>
        <span>公益活动</span>
        <span>专业学术</span>
    </div>
    <div class="checkItem_wrap">
        <ul class="checkItem">
            <li ng-repeat="tc in active.techang">
                <a class="flex-container check_flex" href="benk_details.html?id={{tc.id}}">
                    <div class="checkImg"><img src="images/test_img.png" alt=""></div>
                    <div class="check_info">
                        <p class="check_de ellipsis-2">{{tc.name}}</p>
                        <p class="tr check_time">{{tc.createTime}}</p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="checkItem">
            <li ng-repeat="gy in active.gongyi">
                <a class="flex-container check_flex" href="benk_details.html?id={{gy.id}}">
                    <div class="checkImg"><img src="images/test_img.png" alt=""></div>
                    <div class="check_info">
                        <p class="check_de ellipsis-2">{{gy.name}}</p>
                        <p class="tr check_time">{{gy.createTime}}</p>
                    </div>
                </a>
            </li>
        </ul>
        <ul class="checkItem">
            <li ng-repeat="ys in active.zhuanye">
                <a class="flex-container check_flex" href="benk_details.html?id={{ys.id}}">
                    <div class="checkImg"><img src="images/test_img.png" alt=""></div>
                    <div class="check_info">
                        <p class="check_de ellipsis-2">{{ys.name}}</p>
                        <p class="tr check_time">{{ys.createTime}}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="pd_lr5 bg_f tm">
    <div style="padding: 1rem 0;">
        <p class="benk_erm_hint">更多本科活动项目咨询<br>请长按识别下方二维码</p>
        <div>
            <img src="images/benk_erm.png" style="width: 10rem;" alt="">
        </div>
    </div>

</section>
</body>
<script>
    swiper();

    // 导航滑动
    function swiper() {
        var mySwiper = new Swiper('#topNav', {
            freeMode: true,
            freeModeMomentumRatio: 0.5,
            slidesPerView: 'auto',
            onTap: function (swiper, e) {
                slide = swiper.slides[swiper.clickedIndex];
                slideLeft = slide.offsetLeft;
                slideWidth = slide.clientWidth;
                slideCenter = slideLeft + slideWidth / 2;
                // 被点击slide的中心点
                mySwiper.setWrapperTransition(300);
                console.log()

                if (slideCenter < swiperWidth / 2) {

                    mySwiper.setWrapperTranslate(0)

                } else if (slideCenter > maxWidth) {
                    mySwiper.setWrapperTranslate(maxTranslate)

                } else {
                    nowTlanslate = slideCenter - swiperWidth / 2;
                    mySwiper.setWrapperTranslate(-nowTlanslate)
                }

                $("#topNav  .active").removeClass('active');
                $("#topNav .swiper-slide").eq(swiper.clickedIndex).addClass('active');
            },
            onClick: function (e, k) {
                var _this = new Object(k.path[0]);
                var tagId = $(_this).attr('tag-id');
                var num = mySwiper.clickedIndex;
                $('.benk_wrap_list .benk_list').eq(num).fadeIn().siblings('ul.benk_list').hide();


            }
        });
        swiperWidth = mySwiper.container[0].clientWidth;
        maxTranslate = mySwiper.maxTranslate();
        maxWidth = -maxTranslate + swiperWidth / 2;
    }
</script>
</html>