<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/connoisseur.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/connoisseur.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>找行家</title>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <i class="icon-list-ul nav_icon color_f"></i>
        <a href="index.html"><img src="images/logo.png" style="height: 1.4rem;" alt=""></a>
        <a href="tel:4001816180"><img src="images/tel.png" style="height: 1rem;" alt=""></a>
    </div>
    <!--导航栏列表-->
    <div class="nav_wrap">
        <ul class="nav_list_item_1">
            <li class="on">
                <a href="index.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_1.png" alt=""></div>
                        <span class="nav_tit_1">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_4.png" alt=""></div>
                        <span class="nav_tit_1">院校数据</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="school.html">院校查询</a></dt>
                    <dt>
                        <a href="major_list.html">专业解析</a>
                    </dt>
                    <dt><a href="ranking.html">大学排名</a></dt>
                    <dt><a href="know.html">知识库</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_3.png" alt=""></div>
                        <span class="nav_tit_1">选校工具</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="bg_test.html">背景测评</a></dt>
                    <dt><a href="assessment.html">选校测评</a></dt>
                    <dt><a href="school.html">学校录取测评</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_7.png" alt=""></div>
                        <span class="nav_tit_1">申请互动</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="question.html">申请问答</a></dt>
                    <dt><a href="connoisseur.html">顾问推荐</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_5.png" alt=""></div>
                        <span class="nav_tit_1">留学攻略</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="setup.html">机构</a></dt>
                    <dt><a href="strategy.html">资讯</a></dt>
                    <dt><a href="case.html">案例</a></dt>
                    <dt><a href="mall.html">申请</a></dt>
                </dl>
            </li>
            <li>
                <a href="bonus.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_8.png" alt=""></div>
                        <span class="nav_tit_1">留学奖金</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="contact.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_9.png" alt=""></div>
                        <span class="nav_tit_1">联系我们</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--申请国家-->
<div class="applyCountry">
    <div class="com-auto">
        <div class="country-left">申请国家</div>
        <div class="country-right">
            <ul>
                <li class="on" onclick="clickCountry(this)" data-sid=""><a href="#">全部</a></li>
                <li ng-repeat="countryT in countrys" onclick="clickCountry(this)" data-sid="{{countryT.id}}"><a
                        href="#">{{countryT.name}}</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--默认排序-->
<div class="teacherList">
    <div class="t-l-title">
        <label class="choose-span on" data-sort="2" onclick="twoSorts(this)">默认排序</label>
        <span class="choose-span" data-sort="1" onclick="twoSorts(this)">按以服务学生总数排列</span>
    </div>
    <div class="t-l-con">
        <ul>
            <li ng-repeat="teacherT in teachers" is-over="toggle.now">
                <a href="teacher_details_2.html?contentid={{teacherT.id}}">
                    <div class="list-left">
                        <img src="http://www.smartapply.cn{{teacherT.image}}" alt="老师头像"/>
                    </div>
                    <div class="list-center">
                        <div class="list-title">
                            <span>{{teacherT.name}}</span>
                            <div class="r-tag">{{teacherT.source}}</div>
                        </div>
                        <p>{{teacherT.buyNum | nullAlter}}</p>
                        <p>从业{{teacherT.age}}年</p>
                    </div>
                </a>
                <div class="list-right">
                    <p>已帮助<span>{{teacherT.students}}</span>位学生拿到录取</p>
                    <a href="teacher_details_2.html?contentid={{teacherT.id}}">查看顾问</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    <!--分页-->
    <div class="s-page">
        <ul class="pageSize" ng-bind-html="pages | trustHtml">
            <!--<li><a href="#">首页</a></li>-->
            <!--<li><a href="#"><img src="images/an-img/schools-pageJ.png" alt="箭头图标"/></a></li>-->
            <!--<li><a href="#">1</a></li>-->
            <!--<li><a href="#">2</a></li>-->
            <!--<li><a href="#">3</a></li>-->
            <!--<li><a href="#">•••</a></li>-->
            <!--<li><a href="#">尾页</a></li>-->
        </ul>
        <input type="hidden" id="pageTotal"/>
    </div>
</div>
<!--热门顾问排行-->
<div class="hotCounselor">
    <div class="com-title border">
        <img src="images/an-img/school-icon03.png" alt="图标"/>
        <span>热门顾问排行</span>
    </div>
    <div class="hot-con">
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" ng-repeat="hotsT in hots">
                    <div class="in-swiper">
                        <div class="tea-thumb">
                            <img src="http://www.smartapply.cn{{hotsT.image}}" alt="老师头像"/>
                        </div>
                        <h4>{{hotsT.name}}</h4>
                        <p>{{hotsT.alternatives | nullAlter}}</p>
                        <a href="teacher_details_2.html?contentid={{hotsT.id}}">查看顾问</a>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
<!--备案信息-->
<section class="cr_wrap back-w">
    <div class="tm copyRight">©2017 viplgw.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明</div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>

</html>
