<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">


    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/diy.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/diy.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>diy</title>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <i class="icon-list-ul nav_icon color_f"></i>
        <a href="index.html"><img src="images/logo.png" style="height: 1.4rem;" alt=""></a>
        <a href="tel:4001816180"><img src="images/tel.png" style="height: 1rem;" alt=""></a>
    </div>
    <!--导航栏列表-->
    <div class="nav_wrap">
        <ul class="nav_list_item_1">
            <li class="on">
                <a href="index.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_1.png" alt=""></div>
                        <span class="nav_tit_1">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_4.png" alt=""></div>
                        <span class="nav_tit_1">院校数据</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="school.html">院校查询</a></dt>
                    <dt>
                        <a href="major_list.html">专业解析</a>
                    </dt>
                    <dt><a href="ranking.html">大学排名</a></dt>
                    <dt><a href="know.html">知识库</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_3.png" alt=""></div>
                        <span class="nav_tit_1">选校工具</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="bg_test.html">背景测评</a></dt>
                    <dt><a href="assessment.html">选校测评</a></dt>
                    <dt><a href="matching_test.html">学校录取测评</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_7.png" alt=""></div>
                        <span class="nav_tit_1">申请互动</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="qa_index.html">申请问答</a></dt>
                    <dt><a href="connoisseur.html">顾问推荐</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_5.png" alt=""></div>
                        <span class="nav_tit_1">留学攻略</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="setup.html">机构</a></dt>
                    <dt><a href="strategy.html">资讯</a></dt>
                    <dt><a href="case.html">案例</a></dt>
                    <dt><a href="mall.html">申请</a></dt>
                </dl>
            </li>
            <li>
                <a href="bonus.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_8.png" alt=""></div>
                        <span class="nav_tit_1">留学奖金</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="contact.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_9.png" alt=""></div>
                        <span class="nav_tit_1">联系我们</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<div class="course-img">
    <img src="{{http}}{{data.image}}" alt="课程图片"/>
</div>
<div class="course-info">
    <h4 class="ellipsis">{{data.name}}</h4>
    <span>购买人数：<span class="red">{{data2.alternatives}}</span></span>
    <span>累计评价：<span class="red">{{data2.article}}</span></span>
    <span>送雷豆：<span class="red">{{data2.listeningFile}}</span></span>
    <p>促销价：<span class="red">￥{{data.price}}</span></p>
    <p class="oldP"><b>价格：￥{{data.originalPrice}}</b> <span>商品编号：toefl{{data.id}}</span></p>
    <input type="hidden" id="sp_price" value="{{data.price}}">
    <input type="hidden" id="sp_name" value="{{data.name}}">
</div>
<div class="buyGroup">
    <ul>
        <li class="dh_btn"><a href="javascript:;">立即兑换</a></li>
        <li class="cart_btn"><a href="javascript:;">加入购物车</a></li>
    </ul>
</div>
<!--商品详情-->
<div class="productDetail">
      <div class="product-title">商品详情</div>
    <div class="pt_text" ng-bind-html="contenttext"></div>
</div>
<!--累计评价-->
<div class="evaluate">
    <ul>
        <li>累计评价</li>
        <li><a href="javascript:void(0);">好厉害（10）</a></li>
        <li><a href="javascript:void(0);">非常好（10）</a></li>
        <li><a href="javascript:void(0);">好厉害（10）</a></li>
        <li><a href="javascript:void(0);">非常好（10）</a></li>
    </ul>
    <p><span>9.7</span>分</p>
</div>
<!--评价切换-->
<div class="evaluate-toggle">
    <div class="wrap">
        <div class="tabs">
            <span class="part active"><a href="#" hidefocus="true" >全部({{data2.article}})</a></span>
            <span class="part"><a href="#" hidefocus="true">好评({{g_reply}})</a></span>
            <span class="part"><a href="#" hidefocus="true">中评({{m_reply}})</a></span>
            <span class="part"><a href="#" hidefocus="true">差评(0)</a></span>
        </div>

        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                    <div class="content-slide">
                        <ul>
                            <li ng-repeat="reply in reply" is-over="toggle.now">
                                <div class="evaluate-left">
                                    <img src="{{http}}{{reply.image}}" alt="用户头像"/>
                                </div>
                                <div class="evaluate-right">
                                    <p>{{reply.content}}</p>
                                    <span>{{reply.time}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                      <ul>
                          <li ng-repeat="reply in reply" ng-hide="$last&&{{m_reply}}!=0">
                              <div class="evaluate-left">
                                  <img src="{{http}}{{reply.image}}" alt="用户头像"/>
                              </div>
                              <div class="evaluate-right">
                                  <p>{{reply.content}}</p>
                                  <span>{{reply.time}}</span>
                              </div>
                              <div class="clearfix"></div>
                          </li>
                      </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <ul>
                            <li ng-repeat="reply in reply" ng-show="$last&&{{m_reply}}!=0">
                                <div class="evaluate-left">
                                    <img src="{{http}}{{reply.image}}" alt="用户头像"/>
                                </div>
                                <div class="evaluate-right">
                                    <p>{{reply.content}}</p>
                                    <span>{{reply.time}}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <ul></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--联系客服-->
<div class="contact-kf">
    <h4>联系客服</h4>
    <img src="images/an-img/diy-qq.png" alt="qq"/>
    <span>Chris老师</span>
    <a href="mqqwpa://im/chat?chat_type=wpa&uin=1746295647&version=1&src_type=web&web_src=http://m.haishiit.com/">QQ:1746295647</a>
</div>
<!--备案信息-->
<section class="cr_wrap back-w">
    <div class="tm copyRight">©2017 smartapply.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明</div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>