<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="英国留学,澳洲留学,美国留学,出国留学,留学文书,雷哥网，雷哥培训">
    <meta name="description"
          content="雷哥网，成立于2012年，提供大数据驱动下的国际教育O＋O服务。雷哥网通过PC、WAP和APP等互联网平台和工具，通过院校库、案例库和录取条件库等建立选校模型，为客户的留学申请精准定位，提供个性化留学选校与申请服务，并以雷哥网学习中心提供留学与出国英语辅导线下服务，二者相辅相成。">
    <meta name="title" content="美国留学|英国留学|澳洲留学|留学文书-雷哥留学网申请智能服务平台">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/common.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="js/angular1.3.1.js"></script>
    <title>首页</title>
</head>
<body id="index" ng-controller="abroad_view">
<!--侧边栏 咨询-->
<div class="rightFixed">
    <ul>
        <li>
            <a target="blank" href="mqqwpa://im/chat?chat_type=wpa&amp;uin=2949709934&amp;version=1&amp;src_type=web&amp;web_src=http://m.haishiit.com/">
                <div class="topImg">
                    <img src="images/index_pointer.png" alt="白色图标">
                </div>
                <span>在线咨询</span>
            </a>
        </li>
        <li>
            <a target="blank" href="tel:4001816180">
                <div class="topImg">
                    <img src="images/index_phone.png" alt="白色图标">
                </div>
                <span>免费电话</span>
            </a>
        </li>
    </ul>
</div>
<!--头部-->
<section class="relative index_bg mg_b5">
    <div>
        <div class="header_nav pd_lr5 flex-container-center" style="height: auto;background:#343434;padding: 0.25rem;">
            <!--<i class="icon-list-ul nav_icon color_f"></i>-->
            <a href="index.html"><img src="images/logo_2.png" style="height: 2.3rem;" alt=""></a>
            <!--<span></span>-->
        </div>
        <!--导航栏列表-->
        <div class="nav_wrap">
            <ul class="nav_list_item_1">
                <li class="on">
                    <a href="index.html" class="flex-container">
                        <div class="nav_wrap1 flex-container">
                            <div class="nav_icon_header inm"><img src="images/nav_icon_1.png" alt=""></div>
                            <span class="nav_tit_1">首页</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex-container">
                        <div class="nav_wrap1 flex-container">
                            <div class="nav_icon_header inm"><img src="images/nav_icon_4.png" alt=""></div>
                            <span class="nav_tit_1">院校数据</span>
                        </div>
                        <i class="icon-angle-right nav_crow_r"></i>
                    </a>
                    <dl class="nav_wrap2">
                        <dt><a href="school.html">院校查询</a></dt>
                        <dt>
                            <a href="major_list.html">专业解析</a>
                        </dt>
                        <dt><a href="ranking.html">大学排名</a></dt>
                        <dt><a href="know.html">知识库</a></dt>
                    </dl>
                </li>
                <li>
                    <a href="#" class="flex-container">
                        <div class="nav_wrap1 flex-container">
                            <div class="nav_icon_header inm"><img src="images/nav_icon_3.png" alt=""></div>
                            <span class="nav_tit_1">选校工具</span>
                        </div>
                        <i class="icon-angle-right nav_crow_r"></i>
                    </a>
                    <dl class="nav_wrap2">
                        <dt><a href="bg_test.html">背景测评</a></dt>
                        <dt><a href="assessment.html">选校测评</a></dt>
                        <dt><a href="matching_test.html">学校录取测评</a></dt>
                    </dl>
                </li>
                <li>
                    <a href="#" class="flex-container">
                        <div class="nav_wrap1 flex-container">
                            <div class="nav_icon_header inm"><img src="images/nav_icon_7.png" alt=""></div>
                            <span class="nav_tit_1">申请互动</span>
                        </div>
                        <i class="icon-angle-right nav_crow_r"></i>
                    </a>
                    <dl class="nav_wrap2">
                        <dt><a href="qa_index.html">申请问答</a></dt>
                        <dt><a href="connoisseur.html">顾问推荐</a></dt>
                    </dl>
                </li>
                <li>
                    <a href="#" class="flex-container">
                        <div class="nav_wrap1 flex-container">
                            <div class="nav_icon_header inm"><img src="images/nav_icon_5.png" alt=""></div>
                            <span class="nav_tit_1">留学攻略</span>
                        </div>
                        <i class="icon-angle-right nav_crow_r"></i>
                    </a>
                    <dl class="nav_wrap2">
                        <dt><a href="setup.html">机构</a></dt>
                        <dt><a href="strategy.html">资讯</a></dt>
                        <dt><a href="case.html">案例</a></dt>
                        <dt><a href="mall.html">申请</a></dt>
                    </dl>
                </li>
                <li>
                    <a href="bonus.html" class="flex-container">
                        <div class="nav_wrap1 flex-container">
                            <div class="nav_icon_header inm"><img src="images/nav_icon_8.png" alt=""></div>
                            <span class="nav_tit_1">留学奖金</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="contact.html" class="flex-container">
                        <div class="nav_wrap1 flex-container">
                            <div class="nav_icon_header inm"><img src="images/nav_icon_9.png" alt=""></div>
                            <span class="nav_tit_1">联系我们</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--其他项目链接-->
    <div class="pd_lr5 bg_f">
        <ul class="other_link flex-container">
            <li><a class="on" href="http://m.smartapply.cn/">留学</a></li>
            <li><a href="http://m.gmatonline.cn">GMAT</a></li>
            <li><a href="http://m.toeflonline.cn/">TOEFL</a></li>
            <li><a href="http://ielts.viplgw.cn">IELTS</a></li>
            <li><a id="user" href="login.html"><img src="images/index_person.png" style="height: 0.8rem;" alt=""></a>
            </li>
        </ul>
    </div>
    <!--导航列表-->
    <ul class="nav_select_list bg_f flex-container">
        <li>
            <a href="school.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_1.png" alt=""></div>
                    <p class="ncon_name">院校查询</p>
                </div>
            </a>
        </li>
        <li>
            <a href="major_list.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_2.png" alt=""></div>
                    <p class="ncon_name">专业解析</p>
                </div>
            </a>
        </li>
        <li>
            <a href="ranking.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_3.png" alt=""></div>
                    <p class="ncon_name">大学排名</p>
                </div>
            </a>
        </li>

        <li>
            <a href="matching_test.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_7.png" alt=""></div>
                    <p class="ncon_name">录取测评</p>
                </div>
            </a>
        </li>
        <li>
            <a href="assessment.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_8.png" alt=""></div>
                    <p class="ncon_name">选校测评</p>
                </div>
            </a>
        </li>
        <li>
            <a href="bg_test.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_9.png" alt=""></div>
                    <p class="ncon_name">背景测评</p>
                </div>
            </a>
        </li>
        <li>
            <a href="know.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_4.png" alt=""></div>
                    <p class="ncon_name">留学课程</p>
                </div>
            </a>
        </li>
        <li>
            <a href="qa_index.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_5.png" alt=""></div>
                    <p class="ncon_name">申请问答</p>
                </div>
            </a>
        </li>
        <li>
            <a href="bdy_index.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_13.png" alt=""></div>
                    <p class="ncon_name">DIY申请</p>
                </div>
            </a>
        </li>
        <li>
            <a href="ws_index.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_14.png" alt=""></div>
                    <p class="ncon_name">文书写作</p>
                </div>
            </a>
        </li>
        <li>
            <a href="case.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_11.png" alt=""></div>
                    <p class="ncon_name">案例</p>
                </div>
            </a>
        </li>
        <li>
            <a href="bk_smart.html">
                <div class="ncon_wrap tm">
                    <div class="ncon"><img src="images/ncon_15.png" alt=""></div>
                    <p class="ncon_name">本科留学</p>
                </div>
            </a>
        </li>
    </ul>
    <div class="ad_text">
        <div><img src="images/sc_nt.png" style="height: 2.7rem;" alt=""></div>
        <ul class="flex-container sc_n">
            <li><a href="assessment.html"><img src="images/sc_n1.png" alt=""></a></li>
            <li><a href="school.html"><img src="images/sc_n2.png" alt=""></a></li>
            <li><a href="connoisseur.html"><img src="images/sc_n3.png" alt=""></a></li>
        </ul>
    </div>
</section>
<!--留学问答-->
<section class="mg_b5 bg_f pd_lr5">
    <div class="idnex2_tit_wrap flex-container">
        <span></span>
        <span class="section_name">最热留学问答</span>
        <a class="index2_more" href="qa_index.html">MORE</a>
    </div>
    <ul class="question_list2">
        <li ng-repeat="question in question">
            <p class="question_name2"><a href="fq_details.html?id={{question.id}}">{{question.question}}</a></p>
            <div class="flex-container question_info2">
                <span>{{question.addTime}}</span>
                <span>回答数量：{{question.answerCount}}</span>
            </div>
        </li>
    </ul>
    <div  style="padding:0 0.5rem 0.4rem;" class="tm">
        <a class="from_tw_btn inm tm" href="tw_index.html">我要提问</a>
    </div>
</section>
<!--留学院校-->
<section class="mg_b5 bg_f pd_lr5">
    <div class="idnex2_tit_wrap flex-container">
        <span></span>
        <span class="section_name">最热留学院校</span>
        <a class="index2_more" href="school.html">MORE</a>
    </div>
    <ul class="school_list2 flex-container tm">
        <li ng-repeat="school in school" ng-hide="{{$index+1}}>4">
            <img src="{{http2}}{{school.image}}" alt="">
            <a href="school-detail.html?id={{school.id}}">
                <div class="school_info tm">
                    <p class="sc_p1 ellipsis">[ {{school.name}} ]</p>
                    <p class="sc_p2 ellipsis">{{school.title}}</p>
                    <p class="sc_p3 ellipsis">学校排名：{{school.article}}</p>
                </div>
            </a>
        </li>
    </ul>
</section>
<!--院校排行榜-->
<section class="mg_b5 bg_f pd_lr5">
    <div class="idnex2_tit_wrap flex-container">
        <span></span>
        <span class="section_name">最新院校排行榜</span>
        <a class="index2_more" href="ranking.html">MORE</a>
    </div>
    <ul class="rank_list2 flex-container">
        <li>
            <a href="ranking.html">
                <div class="flex-container">
                    <span class="rank_school_name">U.S.NEWS美国综合大学排名</span>
                    <img src="images/r1_img.png" style="width: 3rem;" alt="">
                </div>
            </a>
        </li>
        <li>
            <a href="ranking.html">
                <div class="flex-container">
                    <span class="rank_school_name">QS世界大学排名</span>
                    <img src="images/r2_img.png" style="width: 3rem;" alt="">
                </div>
            </a>
        </li>
        <li>
            <a href="ranking.html">
                <div class="flex-container">
                    <span class="rank_school_name">ARWU世界大学学术排名</span>
                    <img src="images/r3_img.png" style="width: 3rem;" alt="">
                </div>
            </a>
        </li>
        <li>
            <a href="ranking.html">
                <div class="flex-container">
                    <span class="rank_school_name">TIMES英国大学排名</span>
                    <img src="images/r4_img.png" style="width: 3rem;" alt="">
                </div>
            </a>
        </li>
    </ul>
</section>
<!--专业项目-->
<section class="mg_b5 bg_f">
    <div class="idnex2_tit_wrap flex-container">
        <span></span>
        <span class="section_name">最热名校专业项目</span>
        <a class="index2_more" href="#">MORE</a>
    </div>
    <ul class="hot_list2 flex-container bg_f">
        <li ng-repeat="major in majorHot" ng-if="$index<4">
            <a href="major_de.html?id={{major.id}}">
                <div class="de_test_wrap">
                    <div class="flex-container xg_de_wrap">
                        <div class="mj_img"><img src="images/hot_mj_{{$index+1}}.png" alt=""></div>
                        <div class="hot_name">
                            <p class="mj_t1 ellipsis"><span class="mj_t2">{{major.name}}</span>({{major.title}})</p>
                            <p class="mj_de ellipsis-2">{{major.numbering}}</p>
                        </div>
                    </div>
                    <div class="xg_wrap ellipsis">
                        <b class="xg_sc">相关院校：</b>
                        <div ng-repeat="xg_scT in scArr[$index]"  class="inm xg_sc_name"><img ng-show="$index==0" src="images/hot_icon.png" style="height: 0.7rem" alt=""><span>{{xg_scT}}</span></div>
                    </div>
                </div>

            </a>
        </li>
    </ul>
</section>
<!--留学攻略-->
<section class="bg_f pd_lr5">
    <div class="idnex2_tit_wrap flex-container">
        <span></span>
        <span class="section_name">留学攻略</span>
        <a class="index2_more" href="strategy.html">MORE</a>
    </div>
    <ul class="str_list flex-container">
        <li ng-repeat="raider in raiders">
            <a class="flex-container str_tit_wrap" href="content_details.html?id={{raider.id}}">
                <div class="str_img"><img src="{{raider.image | nullImg}}" alt=""></div>
                <div class="str_text">
                    <p class="ellipsis-2 str_tit">{{raider.title}}</p>
                    <p class="tr str_tim">{{raider.createTime}}</p>
                </div>
            </a>
        </li>
    </ul>
</section>
<!--采集信息-->
<section class="bt_info">
    <div class="bg_f user_data">
        <div class="tm ud_text">
            <p>截至目前为止，已经有超过<strong class="light">20000</strong>名学生体验到<br>雷哥留学网服务</p>
            <img src="images/num_1.png" style="height: 2rem;margin: 0.6rem 0;" alt="">
        </div>
        <div class="form_wrap ">
            <div class="form_ud clearfix">
                <div class="row flex-container-center">
                    <span class="form_name">想申请的国家</span>
                    <input class="form_int" id="country" type="text">
                </div>
                <div class="row flex-container-center">
                    <span class="form_name">想申请的专业</span>
                    <input class="form_int" id="major" type="text">
                </div>
                <div class="row flex-container-center">
                    <span class="form_name">目前在读年级</span>
                    <input class="form_int" id="grade" type="text">
                </div>
                <div class="row flex-container-center">
                    <span class="form_name"><i class="light">*</i>请输入电话号码</span>
                    <input class="form_int" id="phone" type="text">
                </div>
            </div>
            <div class="tm form_btn_wrap">
                <input class="form_btn" type="button" value="免费获取留学方案">
            </div>
        </div>
    </div>
</section>
<!--备案信息-->
<section class="cr_wrap">
    <div class="tm copyRight">©2017 smartapply.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明</div>
</section>
</body>
</html>