<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">


    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/matching.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/matching_test.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>学校录取测评</title>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <a href="javascript:history.go(-1);"><i class="icon-angle-left nav_icon color_f"></i></a>
        <span class="color_f header_name">学校录取测评</span>
        <span class="search_icon"></span>
    </div>
</section>
<!--申请的院校排名-->
<input type="hidden" id="sc_rank" value="{{data.article}}">
<!--申请的院校国家-->
<input type="hidden" id="country" value="{{country}}">
<!--申请的院校名称-->
<input type="hidden" id="sq_name2" value="{{data.name}}">
<!--申请的院校ID-->
<input type="hidden" id="step1_id" value="{{data.id}}">
<!--学校列表-->
<section>
    <div class="bg_f mg_b5">
        <div class="sel_search_wrap">
            <div>
                <p class="sel-name"><b class="light">*</b>院校搜索</p>
                <div class="sel_row_wrap src_wrap relative">
                    <input type="text" class="sel_sc_name fl" id="sr_sc" value="{{data.name}}" placeholder="请输入学校名称">
                    <span class="sel_xl ani sel_btn sel_1"><img src="images/sel_c1.png" style="height: 0.9rem;" alt=""></span>
                    <div class="sr_wrap ani">
                        <ul class="sr_list"></ul>
                    </div>
                </div>
            </div>
            <div>
                <p class="sel-name"><b class="light">*</b>专业选择</p>
                <div class="sel_row_wrap relative">
                    <select name="" class="fl" id="sel_sc">
                        <option ng-repeat="major in major" value="{{major.id}}">{{major.name}}</option>
                    </select>
                    <span class="sel_xl ani sel_btn sel_2" style="line-height: 1.5rem;"><img src="images/sel_c2.png"
                                                                                       style="width: 0.8rem;"
                                                                                       alt=""></span>
                </div>
            </div>
        </div>
        <!--<ul class="school_rank_list_wrap bg_f">-->
            <!--<li>-->
                <!--<a href="#">-->
                    <!--<div class="flex-container">-->
                        <!--<div class="flex-container">-->
                            <!--<div class="school_img"><img src="images/school_img.png" alt=""></div>-->
                            <!--<div class="school_info">-->
                                <!--<p class="school_ch_name ellipsis" id="sq_name">{{data.name}}</p>-->
                                <!--<p class="school_en_name ellipsis">{{data.title}}</p>-->
                                <!--<div class="school_gps">-->
                                    <!--<img style="height: 0.5rem;margin-right: 0.2rem;" src="images/icon-gps.png" alt="">-->
                                    <!--<span>所在地区：{{data.alternatives}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="view_num">-->
                            <!--<p>查看人数：<span class="color_b">{{data.viewCount}}</span></p>-->
                            <!--<p>评论：<span class="color_b">暂无</span></p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>

    <div>
        <div class="tm bg_f mc_step_tit_wrap">
            <div class="pro_centum_wrap tl">
                <span class="pro_centum">进度&nbsp;<span class="jd_num">0%</span></span>
                <div class="pro_out"><span class="pro_inner"></span></div>
            </div>
            <div>
                <div class="mc_step_tit flex-container-center">
                    <img src="images/cj_icon.png" style="height: 1rem;" alt="">
                    <span class="mc_step_name">个人成绩</span>
                </div>
                <div class="mc_step_tit flex-container-center">
                    <img src="images/sc_icon.png" style="height: 1rem;" alt="">
                    <span class="mc_step_name">学校背景</span>
                </div>
            </div>
        </div>
        <div>
            <!--step1-->
            <div class="step_wrap2 step1_wrap bg_f pd_lr5">
                <div class="step_row">
                    <div class="step_text_intra flex-container">
                        <span class="row_name_b"><i class="must light">*</i>GPA:</span>
                    </div>
                    <div class="step_int_wrap">
                        <input class="step_text_int" id="gpa" placeholder="2.5~4.0/50~100" type="text">
                    </div>

                </div>
                <div class="step_row">
                    <div class="step_text_intra flex-container">
                        <span class="row_name_b">GMAT/GRE:</span>
                    </div>
                    <div class="step_int_wrap">
                        <input class="step_text_int" id="gmat" placeholder="400~800/200~340" type="text">
                    </div>
                </div>
                <div class="step_row">
                    <div class="step_text_intra flex-container">
                        <span class="row_name_b"><i class="must light">*</i>TOEFL/IELTS:</span>
                    </div>
                    <div class="step_int_wrap">
                        <input class="step_text_int" id="toefl" placeholder="60~120/5.0~9.0" type="text">
                    </div>
                </div>
                <div class="next_step_btn tm"><span class="st_next next_1" data-index="1">下一步</span></div>
            </div>
            <!--step2-->
            <div class="step_wrap2 bg_f pd_lr5" style="padding-top: 0.7rem;">
                <div class="step_row">
                    <div class="step_text_intra flex-container">
                        <span class="row_name_b"><i class="light must">*</i>目前学历:</span>
                    </div>
                    <div class="step_int_wrap">
                        <select class="step_select" name="" id="s1">
                            <option value="0">未选择</option>
                            <option value="3">博士</option>
                            <option value="2.5">硕士</option>
                            <option value="2">本科</option>
                            <option value="1">专科</option>
                            <option value="1">高中</option>
                            <option value="0.5">初中</option>
                        </select>
                    </div>
                </div>
                <div class="step_row">
                    <div class="step_text_intra flex-container">
                        <span class="row_name_b"><i class="light must">*</i>就读/毕业院校:</span>
                    </div>
                    <div class="step_int_wrap">
                        <select class="step_select" name="" id="s2">
                            <option value="0">未选择</option>
                            <option value="1">清北复交浙大</option>
                            <option value="2">985</option>
                            <option value="3">211</option>
                            <option value="4">非211本科</option>
                            <option value="5">专科</option>
                        </select>
                    </div>
                </div>
                <div class="step_row">
                    <div class="step_text_intra flex-container">
                        <span class="row_name_b"><i class="light must">*</i>详细填写学校名称:</span>
                    </div>
                    <div class="step_int_wrap">
                        <input class="step_text_int" id="school" type="text">
                    </div>
                </div>
                <!--<div class="step_row">-->
                    <!--<div class="step_text_intra flex-container">-->
                        <!--<span class="row_name_b"><i class="light must">*</i>申请专业:</span>-->
                    <!--</div>-->
                    <!--<div class="step_int_wrap">-->
                        <!--<select class="step_select" name="" id="s3">-->
                            <!--<option ng-repeat="major in major" value="{{major.id}}">{{major.name}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="step_row">
                    <div class="step_text_intra flex-container">
                        <span class="row_name_b"><i class="light must">*</i>目前专业:</span>
                    </div>
                    <div class="step_int_wrap">
                        <input class="step_text_int" id="c_major" type="text">
                    </div>
                </div>
                <div class="next_step_btn tm flex-container" style="padding: 2rem 0">
                    <span class="st_next prev_step" data-index="0">上一步</span>
                    <span class="st_next next_2" data-index="2">下一步</span>
                </div>
            </div>
            <!--step3-->
            <div class="step_wrap2 bg_f pd_lr5">
                <div class="tm" style="padding: 0.5rem;">
                    <p class="dx-tit">你是否具备以下背景条件？</p>
                    <p class="dx-bz">备注：请勾选以下已参加过的内容（可多选）</p>
                </div>
                <div class="contain">
                    <label for="checkbox1">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox1">
                        <span class="label_name">500强/四大实习（工作）经验</span>
                    </label>
                    <label for="checkbox2">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox2">
                        <span class="label_name">外企实习（工作）经验</span>
                    </label>
                    <label for="checkbox3">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox3">
                        <span class="label_name">国企实习（工作）经验</span>
                    </label>
                    <label for="checkbox4">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox4">
                        <span class="label_name">私企实习（工作）经验</span>
                    </label>
                    <label for="checkbox5">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox5">
                        <span class="label_name">相关专业项目比赛经验</span>
                    </label>
                    <label for="checkbox6">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox6">
                        <span class="label_name">海外游学经验</span>
                    </label>
                    <label for="checkbox7">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox7">
                        <span class="label_name">公益活动</span>
                    </label>
                    <label for="checkbox8">
                        <input type="checkbox" value="1" class="inputCheck" id="checkbox8">
                        <span class="label_name">获奖经历</span>
                    </label>
                </div>
                <div class="next_step_btn tm flex-container">
                    <span class="st_next prev_step" data-index="1">上一步</span>
                    <span class="st_next st_tj">提交</span>
                </div>
                <!--<div class="next_step_btn tm"><span class="st_next st_tj" data-index="1">提交</span></div>-->
            </div>
        </div>
    </div>
</section>
<!--提交成功弹窗-->
<section class="success_model">
    <div class="success_wrap">
        <div class="tm"><img src="images/cr_1.png" style="height: 3rem;" alt=""></div>
        <p class="test_sort tm">
            <span class="str_sort"></span>%
            <img class="star_bg" src="images/star_bg.png" style="height: 6rem;" alt="">
        </p>
        <p class="test_pass tm">已超过<strong class="bfb_sort">70%</strong>的测试者！</p>
        <p class="test_hit"><strong class="light">*</strong>此报告匹配标准以近5年留学录取成功大数据作为技术支撑并不能百分之百代表实际录取结果，仅供参考。</p>
        <div class="tm"><a class="link_index" href="index.html">返回首页</a></div>
        <div class="jc_bg">
            <img src="images/jc_1.png" style="height: 0.9rem;width: 100%;" alt="">
        </div>
    </div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
</html>