<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/question.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/question.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>问问题</title>
</head>
<body  ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <i class="icon-list-ul nav_icon color_f"></i>
        <a href="index.html"><img src="images/logo.png" style="height: 1.4rem;" alt=""></a>
        <a href="tel:4001816180"><img src="images/tel.png" style="height: 1rem;" alt=""></a>
    </div>
    <!--导航栏列表-->
    <div class="nav_wrap">
        <ul class="nav_list_item_1">
            <li class="on">
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_1.png" alt=""></div>
                        <span class="nav_tit_1">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_4.png" alt=""></div>
                        <span class="nav_tit_1">院校数据</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="school.html">院校查询</a></dt>
                    <dt><a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">专业解析</a></dt>
                    <dt><a href="ranking.html">大学排名</a></dt>
                    <dt><a href="know.html">知识库</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_3.png" alt=""></div>
                        <span class="nav_tit_1">选校工具</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <!--<dt><a href="#">背景测评</a></dt>-->
                    <dt><a href="assessment.html">选校测评</a></dt>
                    <!--<dt><a href="matching_test.html">学校录取测评</a></dt>-->
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_7.png" alt=""></div>
                        <span class="nav_tit_1">申请互动</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="question.html">申请问答</a></dt>
                    <dt><a href="connoisseur.html">顾问推荐</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_5.png" alt=""></div>
                        <span class="nav_tit_1">留学攻略</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="setup.html">机构</a></dt>
                    <dt><a href="strategy.html">资讯</a></dt>
                    <dt><a href="case.html">案例</a></dt>
                    <dt><a href="mall.html">申请</a></dt>
                </dl>
            </li>
            <li>
                <a href="bonus.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_8.png" alt=""></div>
                        <span class="nav_tit_1">留学奖金</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--发现-->
<div class="found">
    <div class="found-title">
        <div class="f-in-title">
            <label>发现</label>
            <ul>
                <li class="active">
                    <a href="javascript:;">推荐</a>
                </li>
                <li>
                    <a href="javascript:;">最新</a>
                </li>
                <li>
                    <a href="javascript:;">等待回复</a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="f-in-con">
        <div class="com-auto">
            <ul>
                <li ng-repeat="item2 in items2">
                    <a href="qa-details.html?id={{item2.id}}">
                        <div class="f-c-left">
                            <div class="l-thumb">
                                <img src="{{http}}{{item2.image}}" onerror="this.src='images/default.png'" alt="用户头像"/>
                            </div>
                            <p>匿名</p>
                        </div>
                        <div class="f-c-right">
                            <div class="com-tag orange">问</div>
                            <div class="com-info ellipsis">{{item2.question}}</div>
                            <div class="clearfix"></div>
                            <div class="com-tag blue">答</div>
                            <div class="com-info ellipsis-3" ng-bind-html="item2.answer[0].content | trustHtml"></div>
                            <div class="clearfix"></div>
                            <div class="bot-little">
                                <span>{{item2.answer[0].addTime}}</span>
                                <span><img src="images/an-img/question-4.png" alt="眼睛图标" height="10"/>浏览次数:<b>{{item2.browse}}次</b></span>
                                <span>关注:<b>{{item2.follow}}</b>人</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="com-auto">
            <ul>
                <li ng-repeat="item3 in items3">
                    <a href="qa-details.html?id={{item3.id}}">
                        <div class="f-c-left">
                            <div class="l-thumb">
                                <img src="{{http}}{{item3.image}}" onerror="this.src='images/default.png'" alt="用户头像"/>
                            </div>
                            <p>匿名</p>
                        </div>
                        <div class="f-c-right">
                            <div class="com-tag orange">问</div>
                            <div class="com-info ellipsis">{{item3.question}}</div>
                            <div class="clearfix"></div>
                            <div class="com-tag blue">答</div>
                            <div class="com-info ellipsis-3" ng-bind-html="item3.answer[0].content | trustHtml"></div>
                            <div class="clearfix"></div>
                            <div class="bot-little">
                                <span>{{item3.answer[0].addTime}}</span>
                                <span><img src="images/an-img/question-4.png" alt="眼睛图标" height="10"/>浏览次数:<b>{{item3.browse}}次</b></span>
                                <span>关注:<b>{{item3.follow}}</b>人</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="com-auto">
            <ul>
                <li ng-repeat="item4 in items4">
                    <a href="qa-details.html?id={{item4.id}}">
                        <div class="f-c-left">
                            <div class="l-thumb">
                                <img src="{{http}}{{item4.image}}" onerror="this.src='images/default.png'" alt="用户头像"/>
                            </div>
                            <p>匿名</p>
                        </div>
                        <div class="f-c-right">
                            <div class="com-tag orange">问</div>
                            <div class="com-info ellipsis">{{item4.question}}</div>
                            <div class="clearfix"></div>
                            <div class="com-tag blue">答</div>
                            <div class="com-info ellipsis-3" ng-bind-html="item4.answer[0].content | trustHtml"></div>
                            <div class="clearfix"></div>
                            <div class="bot-little">
                                <span>{{item4.answer[0].addTime}}</span>
                                <span><img src="images/an-img/question-4.png" alt="眼睛图标" height="10"/>浏览次数:<b>{{item4.browse}}次</b></span>
                                <span>关注:<b>{{item4.follow}}</b>人</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--向她提问-->
<div class="ask-que">
    <div class="a-q-title">
        <img src="images/an-img/question-1.png" alt="问号图标"/>
        <span>向她提问</span>
    </div>
    <div class="a-q-con">
        <ul>
            <li ng-repeat="item1 in items1">
                <div class="q-con-left">
                    <img src="{{http}}{{item1.information.image}}" />
                </div>
                <div class="q-con-right">
                    <h4>{{item1.information.name}}</h4>
                    <p>已回答{{item1.num}}个问题</p>
                    <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">向她提问</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
</div>
<!--备案信息-->
<section class="cr_wrap back-w">
    <div class="tm copyRight">©2017 smartapply.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明</div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
<script>
    $(function(){
        $('.f-in-title ul li').click(function(){
            var num=$(this).index();
            $(this).addClass("active").siblings("li").removeClass("active");
            $(".com-auto").eq(num).fadeIn().siblings(".com-auto").hide();
        })
    })
</script>
</html>