<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">


    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">

    <link rel="stylesheet" href="css/matching.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/select_school.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>热门学校</title>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container box">
        <a href="javascript:history.go(-1);"><i class="icon-angle-left nav_icon color_f"></i></a>
        <span class="color_f header_name ">热门学校</span>
        <form action="javascript:;" onsubmit="return false;" class="form_wrap">
            <input id="myInput" class="search_int " type="search" placeholder="请输入学校名称">
        </form>
        <span class="search_icon"><img src="images/icon_search.png" style="height: 0.9rem;" alt=""></span>
    </div>
</section>
<!--学校列表-->
<section>
    <ul class="school_rank_list_wrap bg_f">
        <li ng-repeat="item1 in items1">
            <div class="flex-container">
                <div class="flex-container">
                    <div class="school_img"><img src="{{http2}}{{item1.image}}" alt=""></div>
                    <div class="school_info">
                        <p class="school_ch_name ellipsis">{{item1.name}}</p>
                        <p class="school_en_name ellipsis">{{item1.title}}</p>
                        <div class="school_gps">
                            <img style="height: 0.5rem;margin-right: 0.2rem;" src="images/icon-gps.png" alt="">
                            <span>所在地区：新泽西州</span>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <p class="rank_num">排名：{{item1.article}}</p>
                    <a class="admission_link" href="mqqwpa://im/chat?chat_type=wpa&uin=2949709934&version=1&src_type=web&web_src=http://m.haishiit.com/">学校录取测评</a>
                </div>
            </div>
        </li>

    </ul>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
<script>
    $(function () {
        $('#myInput').bind('search', function () {
            var school = $(this).val();
            var page = 1;
            $.ajax({
                type: 'get',
                url: 'http://test.school.gmatonline.cn/cn/wap-api/select-school',
                data: {
                    school: school,
                    page: page
                },
                dataType: 'json',
                success: function (data) {
                    var str = '';
                    if(data.data==''){
                        alert("暂无当前数据！");
                        return false;
                    }else {
                        $('.school_rank_list_wrap').empty();
                        $(data.data).each(function (a, b) {
                            str += '<li ng-repeat="item1 in items1">' +
                                    '<div class="flex-container">' +
                                    '<div class="flex-container">' +
                                    '<div class="school_img"><img src="'+httpUrl2+''+ b.image+'" alt=""></div>' +
                                    '<div class="school_info">' +
                                    '<p class="school_ch_name ellipsis">'+ b.name+'</p>' +
                                    '<p class="school_en_name ellipsis">'+ b.title+'</p>' +
                                    '<div class="school_gps">' +
                                    '<img style="height: 0.5rem;margin-right: 0.2rem;" src="images/icon-gps.png" alt="">' +
                                    '<span>所在地区：' + b.place + '</span>' +
                                    '</div>' +
                                    '</div>' +
                                    '</div>' +
                                    '<div class="tr">' +
                                    '<p class="rank_num">排名：'+ b.rank+'</p>' +
                                    '<a class="admission_link" href="mqqwpa://im/chat?chat_type=wpa&uin=2949709934&version=1&src_type=web&web_src=http://m.haishiit.com/">学校录取测评</a>' +
                                    '</div>' +
                                    '</div>' +
                                    '</li>';
                        });
                        $('.school_rank_list_wrap').append(str);
                    }


                }
            })

        });
        $('.search_icon').click(function () {
            $('.header_name').hide();
            $('.form_wrap').show();
        })
    })
</script>
</html>