<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="css/settlement.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/settlement.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>结算</title>
</head>
<body id="settlement" ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <i class="icon-list-ul nav_icon color_f"></i>
        <a href="index.html"><img src="images/logo.png" style="height: 1.4rem;" alt=""></a>
        <a href="tel:4001816180"><img src="images/tel.png" style="height: 1rem;" alt=""></a>
    </div>
    <!--导航栏列表-->
    <div class="nav_wrap">
        <ul class="nav_list_item_1">
            <li class="on">
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_1.png" alt=""></div>
                        <span class="nav_tit_1">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_4.png" alt=""></div>
                        <span class="nav_tit_1">院校数据</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="school.html">院校查询</a></dt>
                    <dt><a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">专业解析</a></dt>
                    <dt><a href="ranking.html">大学排名</a></dt>
                    <dt><a href="know.html">知识库</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_3.png" alt=""></div>
                        <span class="nav_tit_1">选校工具</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <!--<dt><a href="#">背景测评</a></dt>-->
                    <dt><a href="assessment.html">选校测评</a></dt>
                    <!--<dt><a href="matching_test.html">学校录取测评</a></dt>-->
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_7.png" alt=""></div>
                        <span class="nav_tit_1">申请互动</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="question.html">申请问答</a></dt>
                    <dt><a href="connoisseur.html">顾问推荐</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_5.png" alt=""></div>
                        <span class="nav_tit_1">留学攻略</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">机构</a></dt>
                    <dt><a href="strategy.html">资讯</a></dt>
                    <dt><a href="case.html">案例</a></dt>
                    <dt><a href="mall.html">申请</a></dt>
                </dl>
            </li>
            <li>
                <a href="bonus.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_8.png" alt=""></div>
                        <span class="nav_tit_1">留学奖金</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--结算-->
<section>
    <div class="bk_tit2 flex-container bg_f"><span class="big_tit">全部商品</span></div>
    <div class="bg_f pd_lr75">
        <ul class="spList">
            <li ng-repeat="list in list">
                <div class="flex-container sp_handle">
                    <input class="sp_check" data-checkId="{{list.sp_id}}" name="subBox" type="checkbox"
                           checked="checked">
                    <span class="remove_report light">删除记录</span>
                </div>
                <div class="flex-container sp_info_wrap">
                    <div class="cn_img ad"><img src="{{list.src}}" alt=""></div>
                    <div class="cn_info">
                        <P class="sp_name ellipsis-2">{{list.name}}</P>
                        <!--<P class="sp_data">2017-06-07 16:13</P>-->
                        <div>
                            <span class="light sp_price">￥<span class="sp_price_num">{{list.price}}</span></span>
                            <div class="sp_num_wrap clearfix">
                                <span class="sp_num_btn spnum_reduce fl">-</span>
                                <input class="sp_num_int fl" type="button" value="1">
                                <span class="sp_num_btn spnum_add fl">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
        <div class="settlement_wrap flex-container">
            <div class="all_check">
                <input id="all" class="sp_check" checked="checked" type="checkbox"><label for="all">全选</label>
            </div>
            <div>
                <span class="numing_wrpa">已选<em class="light numing">{{count}}</em>件商品</span>
                <a class="settlement_btn inm" ng-click="pay()" href="javascript:;">去结算</a>
            </div>
        </div>
    </div>
</section>
<!--备案信息-->
<section class="cr_wrap bg_f">
    <div class="tm copyRight">©2017 smartapply.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明
    </div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>

</body>
<script>
    $(function () {
        //    删除商品
//        var spList_row = $('.spList li');
        $('.remove_report').click(function (event) {
            var et = event.target;
            $(et).parents("li").remove();
        });
//    增加数量
        $('.spnum_add').click(function (event) {
            var sp_int = $(this).parents(".sp_num_wrap ").find(".sp_num_int");
            var sp_num_prev = parseInt(sp_int.val());
            sp_int.val(sp_num_prev + 1);
        });
//    删减数量
        $('.spnum_reduce').click(function () {
            var sp_int = $(this).parents(".sp_num_wrap ").find(".sp_num_int");
            var sp_num_prev = parseInt(sp_int.val());
            if (sp_num_prev == 1) {
                alert("不能再减啦！");
            } else {
                sp_int.val(sp_num_prev - 1);
            }
        });
//        全选
        $("#all").click(function () {
            if (this.checked == true) {
                $("input[name='subBox']").each(function () {
                    this.checked = true;
                });
            } else {
                $("input[name='subBox']").each(function () {
                    this.checked = false;
                });
            }
        });

        $(".spList input[name='subBox']").click(function () {
            $("#all").attr('checked', false);
           var count = $(".spList input[name='subBox']:checked").length;
            $('.numing').html(count);
        })


    })
</script>
</html>