<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/strategy.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/common.js"></script>
    <script src="js/strategy.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>寻攻略</title>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <i class="icon-list-ul nav_icon color_f"></i>
        <a href="index.html"><img src="images/logo.png" style="height: 1.4rem;" alt=""></a>
        <a href="tel:4001816180"><img src="images/tel.png" style="height: 1rem;" alt=""></a>
    </div>
    <!--导航栏列表-->
    <div class="nav_wrap">
        <ul class="nav_list_item_1">
            <li class="on">
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_1.png" alt=""></div>
                        <span class="nav_tit_1">首页</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_4.png" alt=""></div>
                        <span class="nav_tit_1">院校数据</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="school.html">院校查询</a></dt>
                    <dt><a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">专业解析</a></dt>
                    <dt><a href="ranking.html">大学排名</a></dt>
                    <dt><a href="know.html">知识库</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_3.png" alt=""></div>
                        <span class="nav_tit_1">选校工具</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <!--<dt><a href="#">背景测评</a></dt>-->
                    <dt><a href="assessment.html">选校测评</a></dt>
                    <!--<dt><a href="matching_test.html">学校录取测评</a></dt>-->
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_7.png" alt=""></div>
                        <span class="nav_tit_1">申请互动</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="question.html">申请问答</a></dt>
                    <dt><a href="connoisseur.html">顾问推荐</a></dt>
                </dl>
            </li>
            <li>
                <a href="#" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_5.png" alt=""></div>
                        <span class="nav_tit_1">留学攻略</span>
                    </div>
                    <i class="icon-angle-right nav_crow_r"></i>
                </a>
                <dl class="nav_wrap2">
                    <dt><a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">机构</a></dt>
                    <dt><a href="strategy.html">资讯</a></dt>
                    <dt><a href="case.html">案例</a></dt>
                    <dt><a href="mall.html">申请</a></dt>
                </dl>
            </li>
            <li>
                <a href="bonus.html" class="flex-container">
                    <div class="nav_wrap1 flex-container">
                        <div class="nav_icon_header inm"><img src="images/nav_icon_8.png" alt=""></div>
                        <span class="nav_tit_1">留学奖金</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>
<!--banner-->
<section class="mg_b5" style="overflow: hidden;">
    <div class="swiper-container-1 banner-wrap relative">
        <ul class="swiper-wrapper">
            <li class="swiper-slide banner"><a href="#"><img src="images/an-img/strate-banner.png" alt="banner"/></a>
            </li>
        </ul>
        <div class="baner-page swiper-pagination"></div>
    </div>
</section>

<!--今日头条-->
<div class="today back-w">
    <img src="images/an-img/strate-1.png" alt="头条图标"/>
    <ul>
        <li ng-repeat="item1 in items1.data">
            <a href="content_details.html?id={{item1.id}}">
                <h4 class="ellipsis">{{item1.title}}</h4>
                <p class="ellipsis-2">{{item1.answer}}</p>
            </a>
        </li>
    </ul>
</div>
<!--留学规划-->
<div class="plan back-w">
    <div class="plan-title">
        <img src="images/an-img/strate-2.png" alt="标题图标"/>
        <b>{{items5.name}}</b>
        <div class="plan-right">
            <ul>
                <li><a href="strategy_list.html?id={{items5.id}}&page=1">More &gt;</a></li>
            </ul>
        </div>
    </div>
    <div class="plan-con">
        <ul>
            <li ng-repeat="item5 in items5.data">
                <a href="content_details.html?id={{item5.id}}">
                    <h4 class="ellipsis">{{item5.title}}</h4>
                    <p class="ellipsis-2">{{item5.answer}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--留学考试-->
<div class="plan back-w">
    <div class="plan-title kaoshi">
        <img src="images/an-img/strate-3.png" alt="标题图标"/>
        <b>{{items3.name}}</b>
        <div class="plan-right">
            <ul class="tab_item tabs">
                <li class="part on" data-id="{{items3.data.child[0].id}}" hidefocus="true">GMAT</li>
                <li class="part" data-id="{{items3.data.child[1].id}}" hidefocus="true">托福</li>
                <li class="part" data-id="{{items3.data.child[2].id}}" hidefocus="true">留学</li>
                <li class="list_more"><a href="javascript:;">More &gt;</a></li>
            </ul>
        </div>
    </div>
    <div class="plan-con">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-visible swiper-slide-active">
                    <div class="content-slide">
                        <ul>
                            <li ng-repeat="item3A in items3.data.childData[0]">
                                <a href="content_details.html?id={{item3A.id}}">
                                    <h4 class="ellipsis">{{item3A.title}}</h4>
                                    <p class="ellipsis-2">{{item3A.answer}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <ul>
                            <li ng-repeat="item3B in items3.data.childData[1]" is-over="toggle.now">
                                <a href="content_details.html?id={{item3B.id}}">
                                    <h4 class="ellipsis">{{item3B.title}}</h4>
                                    <p class="ellipsis-2">{{item3B.answer}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="content-slide">
                        <ul>
                            <li ng-repeat="item3C in items3.data.childData[2]">
                                <a href="content_details.html?id={{item3C.id}}">
                                    <h4 class="ellipsis">{{item3C.title}}</h4>
                                    <p class="ellipsis-2">{{item3C.answer}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--留学国家-->
<div class="plan back-w">
    <div class="plan-title">
        <img src="images/an-img/strate-4.png" alt="标题图标"/>
        <b>{{items4.name}}</b>
        <div class="plan-right">
            <ul>
                <li><a href="strategy_list.html?id={{items4.id}}&page=1">More &gt;</a></li>
            </ul>
        </div>
    </div>
    <div class="plan-con">
        <ul>
            <li ng-repeat="item4 in items4.data">
                <a href="content_details.html?id={{item4.id}}">
                    <h4 class="ellipsis">{{item4.title}}</h4>
                    <p class="ellipsis-2">{{item4.answer}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--留学手续-->
<div class="plan back-w">
    <div class="plan-title">
        <img src="images/an-img/strate-5.png" alt="标题图标"/>
        <b>{{items2.name}}</b>
        <div class="plan-right">
            <ul>
                <li><a href="strategy_list.html?id={{items2.id}}&page=1">More &gt;</a></li>
            </ul>
        </div>
    </div>
    <div class="plan-con">
        <ul>
            <li ng-repeat="item2 in items2.data">
                <a href="content_details.html?id={{item2.id}}">
                    <h4 class="ellipsis">{{item2.title}}</h4>
                    <p class="ellipsis-2">{{item2.answer}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--备案信息-->
<section class="cr_wrap back-w">
    <div class="tm copyRight">©2017 smartapply.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明</div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li>
            <a href="index.html">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="tel:4001816180">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="http://p.qiao.baidu.com/im/index?siteid=7905926&ucid=18329536&cp=&cr=&cw=#close-back18">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
<script>
    $(function() {
        var mySwiper = new Swiper('.swiper-container-1', {
            loop: true,
            observer: true,
            autoplay: 2000,
            observeParents: true,
            paginationClickable: true,
            pagination: '.baner-page'
        });
        $('.list_more').click(function(){
            var id=$(this).parents(".tab_item").find("li.on").attr("data-id");
            $(this).children('a').attr('href','strategy_list.html?id='+id+'&page=1');
        })

    });//end

</script>
</html>
