<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="title" content="">
    <meta name="author" content="">
    <meta name="Copyright" content="">
    <!-- <meta name="description" content=""> -->
    <!-- 让IE浏览器用最高级内核渲染页面 还有用 Chrome 框架的页面用webkit 内核
    <!-- ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <!-- IOS6全屏 Chrome高版本全屏-->
    <!-- ================================================== -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- 让360双核浏览器用webkit内核渲染页面-->
    <!-- ================================================== -->
    <meta name="renderer" content="webkit">
    <!-- Mobile Specific Metas
   ================================================== -->
    <!-- !!!注意 minimal-ui 是IOS7.1的新属性，最小化浏览器UI -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/teacher-details.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/jquery-1.12.2.min.js"></script>
    <script src="js/swiper-3.3.1.jquery.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/public.js"></script>
    <script src="js/teacher-details.js"></script>
    <script src="js/angular1.3.1.js"></script>
    <title>老师详情</title>
</head>
<body ng-controller="abroad_view">
<!--头部-->
<section class="relative">
    <div class="bg_b header_nav pd_lr5 flex-container">
        <a href="javascript:history.go(-1);"><i class="icon-angle-left nav_icon color_f"></i></a>
        <span class="color_f header_name">老师详情</span>
       <span></span>
    </div>
</section>
<div class="teacherInfo">
    <div class="com-auto">
        <div class="info-left">
            <img src="http://www.smartapply.cn{{teacherT.image}}" alt="老师照片"/>
        </div>
        <div class="info-right">
            <h4 class="ellipsis">
                <span>{{teacherT.name}}</span>
                <b>{{teacherT.catName}}</b>
            </h4>
            <p>{{teacherT.alternatives}}</p>
            <ul>
                <li>
                    <p>{{teacherT.listeningFile}}份</p>
                    <span>获取录取通知书</span>
                </li>
                <li>
                    <p>{{teacherT.cnName}}%</p>
                    <span>留学申请成功率</span>
                </li>
                <li>
                    <p>{{teacherT.numbering}}份</p>
                    <span>学生印象评分</span>
                </li>
            </ul>
            <a href="mqqwpa://im/chat?chat_type=wpa&uin=1746295647&version=1&src_type=web&web_src=http://m.haishiit.com/">预约咨询</a>
        </div>
        <div class="clearfix"></div>
        <div class="person">
            <h4>个人简介</h4>
            <p ng-bind-html="teacherT.answer | trustHtml"></p>
        </div>
    </div>
</div>
<!--近期服务案例-->
<div class="serviceCase">
     <div class="com-auto">
         <h4>近期服务案例</h4>
         <ul>
             <li ng-repeat="caseListT in caseList">
                 <div class="case-left">
                     <img src="http://www.smartapply.cn{{caseListT[0].image}}" alt="学校图标"/>
                 </div>
                 <div class="case-right">
                     <ul>
                         <li>
                            {{caseListT[0].name}}
                         </li>
                         <li>客户： {{caseListT[0].cnName}}</li>
                         <li>{{caseListT[0].listeningFile}}</li>
                         <li>毕业院校：{{caseListT[0].numbering}}</li>
                         <li>硬件条件：{{caseListT[0].sentenceNumber}}</li>
                         <li ng-bind-html="caseListT[0].duration | trustHtml"></li>
                     </ul>
                 </div>
                 <div class="clearfix"></div>
             </li>
         </ul>
     </div>
</div>
<!--他的回答-->
<div class="answerBox">
    <div class="com-auto" id="moreId">
        <h4>TA的回答</h4>
        <ul>
            <li ng-repeat="answerT in answer">
                <div class="answer-left">
                    <img src="{{answerT.image | nullImg}}" alt="头像"/>
                </div>
                <div class="answer-right">
                    <h4 class="ellipsis"><a href="qa-details.html?id={{answerT.pid}}">{{answerT.question}}</a></h4>
                    <p class="ellipsis-2" ng-bind-html="answerT.content | trustHtml">

                    </p>
                    <span>{{answerT.addtime}}</span>
                    <a href="qa-details.html?id={{answerT.pid}}" class="more">查看更多</a>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    <a href="javascript:void(0);" class="botMore" onclick="seeMore(this)">加载更多</a>
</div>
<!--你可能感兴趣的学校-->
<div class="interestSchool">
    <div class="com-auto">
        <h4>你可能感兴趣的学校</h4>
        <table>
            <tr>
                <th>学校 <span>|</span></th>
                <th>综合排名 <span>|</span></th>
                <th>查看人数</th>
            </tr>
            <tr ng-repeat="schoolT in school">
                <td>{{schoolT.name}}</td>
                <td>{{schoolT.article}}</td>
                <td>{{schoolT.viewCount}}</td>
            </tr>
        </table>
    </div>
</div>
<!--备案信息-->
<section class="cr_wrap back-w">
    <div class="tm copyRight">©2017 viplgw.cn All Rights Reserved 京ICP备15001182号-1<br>京公网安备11010802017681 免责声明</div>
</section>
<!--footer-->
<footer>
    <ul class="ftnav_list flex-container">
        <li class="on">
            <a href="#">
                <div>
                    <img src="images/icon_ft_1.png" style="height: 1.1rem" alt="">
                    <span>首页</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    <img src="images/icon_ft_2.png" style="height: 1.1rem" alt="">
                    <span>拨打电话</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div>
                    <img src="images/icon_ft_3.png" style="height: 1.1rem" alt="">
                    <span>在线咨询</span>
                </div>
            </a>
        </li>
    </ul>
</footer>
</body>
<script type="text/javascript">
    $(function(){
        $(".info-right ul li").each(function(){
            $(this).css("height",$(this).width());
        });
    });
</script>
</html>
